<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Lapar's App</title>
  </head>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Lapar's</h1>
      </div>
      <nav class="app-bar__navigation">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Favorite</a>
          </li>
          <li><a href="https://github.com/fakhryandev">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main id="mainContent">
      <div class="hero">
        <img src="./images/heros/hero-image_4.jpg" alt="Lapar Hero Image" />
      </div>
      <div class="content">
        <h2 class="content__heading">Our Best Offering</h2>
      </div>
      <div class="restaurants"></div>
    </main>
    <footer>
      <p>Copyright &copy; 2022 - Muhammad Fakhryan</p>
    </footer>
  </body>
</html>
